body {
    margin: 0;
    color: white;
    background: url('https://res.cloudinary.com/dto9g3rnt/image/upload/v1718895818/bg1_dwizkh.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'DM Serif Display', serif;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(81, 9, 9);
    padding: 10px;
    height: 8vh;
    z-index: 1000;
}

.navbar-left {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.logo {
    height: 50px; 
    width: auto;
}

.navbar-right {
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.a-element {
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    color: gold;
    text-decoration: none;
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85vh;
    padding: 0 20px;
    padding-top: 8vh;
}

.home-left {
    text-align: right;
    padding-left: 100px;
}

.home-right {
    width: 100vw;
    padding-left: 150px;
}

.home-h1 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.home-left .tag-line {
    position: relative;
    width: 32.8rem;
    color: darkgreen;
}

:root {
    --bg-color: #081b29;
    --second-bg-color: #60b9ed;
    --text-color: #ededed;
    --main-color: #e3e3e3;
    --border-color: lightseagreen;
}

.home-left .tag-line h3 {
    font-size: 3.0rem;
    font-weight: 700;
    color: rgb(10, 60, 10);
    font-style: initial;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 6rem;
}

.about-h2 {
    font-size: 5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    font-family: 'DM Serif Display', serif;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

span {
    color: rgb(82, 19, 19);
}

.about-content {
    text-align: center;
    margin-bottom: 1rem;
}

.about-content h3 {
    font-size: 2.6rem;
    color: darkred;
        margin-bottom: 1rem; 
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0.3rem;
    padding-left: 15rem;
    padding-right: 15rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    text-align: justify;
    color: #032034;
}

.layout {
    padding: 50px;
    background-color: transparent;
    text-align: center;
}
.layout .heading {
    text-align: center;
    font-size: 5rem;
    margin-bottom: 1rem;
}

.layout h2 span {
    color:rgb(82, 19, 19);
}
.layout .title {
    color: rgb(18, 70, 13);
    font-size: 3rem;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
}

.layout-column {
    max-width: 1200px; 
    width: 100%;
}

.layout-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.layout-content {
    margin: 20px;
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    flex: 1 1 calc(33.333% - 40px); 
    box-sizing: border-box;
    text-align: center;
}
.layout-content .content .names {
    font-size: 2rem;
    color: black;
}
.layout-content .content .details {
    font-size: 1.6rem;
    color: #081b29;
}
.layout-content img.layout-image {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.services .heading {
    min-height: auto;
    padding-bottom: 1rem;
    font-size: 4rem;
    padding-bottom: 0.5rem; 
    scroll-margin-top: 8vh;
    text-align: center;
}

.services .services-row {
    display: flex;
    flex-wrap: wrap;
    gap: 0.1px;
}

.services-row .services-column {
    flex: 1;
    margin: 2rem; 
}

.services-box .services-content {
    position: relative;
    border-radius: 0.5rem;
    z-index: 1;
    overflow: hidden;
}

.services-content .progress h3 {
    font-size: 2rem;
    color:rgb(110, 10, 10);
}
.services-content .progress p {
    font-size: 1.5rem;
    color:rgba(16, 12, 77, 0.59);
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.social-icon {
    transition: transform 0.3s, filter 0.3s; 
}

.social-icon-img {
    height: 50px;
    padding-bottom: 10rem;
}

.social-icon:hover .social-icon-img {
    filter: sepia(1) saturate(1000%) hue-rotate(40deg) brightness(1.2); 
    transform: scale(1.2); 
}

.navbar a {
    text-decoration: none;
}

.active {
    text-shadow: 1px 1px 5px rgb(43, 11, 225);
    color: rgb(86, 11, 208);
}

#contact {
    scroll-margin-top: 50vh; 
}
.contact {
    text-align: center;
}

.ser-h1 {
    font-size: 5rem;
}

.contact-info {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: navy;
}

.footer {
    background-color: transparent;
    color: antiquewhite;
    text-align: center;
    padding: 20px;
    width: 100%;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer p {
    margin: 5px;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.main-content {
    flex: 1;
}
